n8n/workflows/shared/backup-to-github.json
{
  "id": "shared-backup-github-001",
  "name": "Shared — Backup All Workflows to GitHub",
  "active": true,
  "tags": [
    { "name": "shared" },
    { "name": "infrastructure" },
    { "name": "production" }
  ],
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all"
  },
  "nodes": [
    {
      "id": "e5555555-5555-5555-5555-555555555501",
      "name": "Daily 02:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 400],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 2 * * *" }
          ]
        }
      }
    },
    {
      "id": "e5555555-5555-5555-5555-555555555502",
      "name": "Get All Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 400],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.N8N_BASE_URL }}/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-N8N-API-KEY", "value": "={{ $env.N8N_API_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "limit", "value": "250" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": false } } }
      }
    },
    {
      "id": "e5555555-5555-5555-5555-555555555503",
      "name": "Map Workflows to Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 400],
      "parameters": {
        "jsCode": "// Map each workflow to { id, name, folder, filePath, json }\nconst workflows = $input.first().json.data || [];\n\nconst tagToFolder = (tags) => {\n  const names = (tags || []).map(t => t.name?.toLowerCase() || '');\n  const order = ['finance', 'product-research', 'creative', 'whatsapp', 'shared'];\n  return order.find(f => names.includes(f)) || 'shared';\n};\n\nconst slugify = (str) =>\n  str.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '');\n\nreturn workflows.map(wf => {\n  const folder   = tagToFolder(wf.tags);\n  const slug     = slugify(wf.name);\n  const filePath = `n8n/workflows/${folder}/${slug}.json`;\n\n  // Strip volatile runtime fields for clean diffs\n  const { updatedAt, createdAt, triggerCount, staticData, ...clean } = wf;\n\n  return {\n    json: {\n      workflowId:  wf.id,\n      workflowName: wf.name,\n      folder,\n      filePath,\n      content: JSON.stringify(clean, null, 2)\n    }\n  };\n});"
      }
    },
    {
      "id": "e5555555-5555-5555-5555-555555555504",
      "name": "Loop Each Workflow",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [960, 400],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "e5555555-5555-5555-5555-555555555505",
      "name": "Get Current File SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_REPO }}/contents/{{ $json.filePath }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",        "value": "=Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept",               "value": "application/vnd.github.v3+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": {
          "ignore404": true,
          "response": { "response": { "fullResponse": true } }
        }
      }
    },
    {
      "id": "e5555555-5555-5555-5555-555555555506",
      "name": "Prepare Commit Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300],
      "parameters": {
        "jsCode": "const current   = $input.first().json;\nconst loopItem  = $('Loop Each Workflow').first().json;\nconst timestamp = new Date().toISOString();\n\n// GitHub requires base64-encoded content\nconst base64Content = Buffer.from(loopItem.content, 'utf-8').toString('base64');\n\n// Include SHA only if the file already exists (required by GitHub API for updates)\nconst sha = current?.body?.sha || current?.sha || null;\n\nconst body = {\n  message: `chore(backup): update ${loopItem.filePath} — ${timestamp}`,\n  content: base64Content,\n  branch:  $env.GITHUB_BRANCH || 'main'\n};\n\nif (sha) body.sha = sha;\n\nreturn [{ json: { ...loopItem, commitBody: body, sha } }];"
      }
    },
    {
      "id": "e5555555-5555-5555-5555-555555555507",
      "name": "Upsert File on GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 300],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_REPO }}/contents/{{ $json.filePath }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",        "value": "=Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept",               "value": "application/vnd.github.v3+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" },
            { "name": "Content-Type",         "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.commitBody) }}",
        "options": {}
      }
    },
    {
      "id": "e5555555-5555-5555-5555-555555555508",
      "name": "Continue Loop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1920, 300],
      "parameters": {}
    },
    {
      "id": "e5555555-5555-5555-5555-555555555509",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1200, 540],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      }
    },
    {
      "id": "e5555555-5555-5555-5555-555555555510",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 540],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst count = items.length;\nconst ts    = new Date().toISOString();\nreturn [{ json: { backedUp: count, timestamp: ts } }];"
      }
    },
    {
      "id": "e5555555-5555-5555-5555-555555555511",
      "name": "Slack — Backup Complete",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1680, 540],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $env.SLACK_CHANNEL_ID }}",
        "text": ":white_check_mark: *n8n Workflow Backup Complete*\n\n• {{ $json.backedUp }} workflows pushed to GitHub\n• Repo: `{{ $env.GITHUB_REPO }}`\n• Branch: `{{ $env.GITHUB_BRANCH || 'main' }}`\n• Time: {{ $json.timestamp }}"
      },
      "credentials": {
        "slackApi": { "id": "slack-cred-01", "name": "Slack Bot" }
      }
    }
  ],
  "connections": {
    "Daily 02:00 AM": {
      "main": [[ { "node": "Get All Workflows", "type": "main", "index": 0 } ]]
    },
    "Get All Workflows": {
      "main": [[ { "node": "Map Workflows to Files", "type": "main", "index": 0 } ]]
    },
    "Map Workflows to Files": {
      "main": [[ { "node": "Loop Each Workflow", "type": "main", "index": 0 } ]]
    },
    "Loop Each Workflow": {
      "main": [
        [ { "node": "Get Current File SHA", "type": "main", "index": 0 } ],
        [ { "node": "Aggregate Results",    "type": "main", "index": 0 } ]
      ]
    },
    "Get Current File SHA": {
      "main": [[ { "node": "Prepare Commit Payload", "type": "main", "index": 0 } ]]
    },
    "Prepare Commit Payload": {
      "main": [[ { "node": "Upsert File on GitHub", "type": "main", "index": 0 } ]]
    },
    "Upsert File on GitHub": {
      "main": [[ { "node": "Continue Loop", "type": "main", "index": 0 } ]]
    },
    "Continue Loop": {
      "main": [[ { "node": "Loop Each Workflow", "type": "main", "index": 0 } ]]
    },
    "Aggregate Results": {
      "main": [[ { "node": "Build Summary", "type": "main", "index": 0 } ]]
    },
    "Build Summary": {
      "main": [[ { "node": "Slack — Backup Complete", "type": "main", "index": 0 } ]]
    }
  }
}
