n8n/workflows/finance/eod-whatsapp-summary.json
{
  "id": "fin-eod-whatsapp-001",
  "name": "Finance — EOD WhatsApp Summary",
  "active": true,
  "tags": [
    { "name": "finance" },
    { "name": "whatsapp" },
    { "name": "production" }
  ],
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": "shared-global-error-handler-001"
  },
  "nodes": [
    {
      "id": "b2222222-2222-2222-2222-222222222201",
      "name": "Daily 21:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 21 * * *" }
          ]
        }
      }
    },
    {
      "id": "b2222222-2222-2222-2222-222222222202",
      "name": "Run EOD Report",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [480, 300],
      "parameters": {
        "command": "cd /app && python scripts/python/main.py --mode eod_report 2>&1"
      }
    },
    {
      "id": "b2222222-2222-2222-2222-222222222203",
      "name": "Sent Successfully?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-exit-eod",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2222222-2222-2222-2222-222222222204",
      "name": "OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 200],
      "parameters": {}
    },
    {
      "id": "b2222222-2222-2222-2222-222222222205",
      "name": "Alert — EOD Failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [960, 420],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $env.SLACK_CHANNEL_ID }}",
        "text": ":warning: *EOD WhatsApp summary FAILED* — {{ $now.toISO() }}\n```{{ $json.stdout.slice(0, 800) }}```"
      },
      "credentials": {
        "slackApi": { "id": "slack-cred-01", "name": "Slack Bot" }
      }
    }
  ],
  "connections": {
    "Daily 21:00": {
      "main": [[ { "node": "Run EOD Report", "type": "main", "index": 0 } ]]
    },
    "Run EOD Report": {
      "main": [[ { "node": "Sent Successfully?", "type": "main", "index": 0 } ]]
    },
    "Sent Successfully?": {
      "main": [
        [ { "node": "OK",                "type": "main", "index": 0 } ],
        [ { "node": "Alert — EOD Failed", "type": "main", "index": 0 } ]
      ]
    }
  }
}
